body{
    background-image: url("bg-img.jpg");
}
#calculator{
    width: 320px;
    height: 520px;
    background-color: #eaedef;
    margin: 5% auto;
    position: relative;
    top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(243, 243, 243, 0.19);
}
#calculator-header{
    height:20px;
    padding: 5px 0;
    cursor:default;
}

#result{
    height: 100px;
}
  #calculator-header-title{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    padding: 5px 0;
    cursor:default;
    float: center;
}
#history{
    text-align: right;
    margin: 0 20px;
    height:20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}
#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    padding-top: 20px;
    font-size: 30px;
}
#keyboard{
    height: 400px;
}
.operator{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 15px;
    font-size: 15px;
    font-weight: bold;
    float: left;
    border: none;
    background-color: #D3EEEE;
}
.number{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 15px;
    font-size: 15px;
    font-weight: bold;
    float: left;
    border: none;
    background-color:#EEE4D3 ;
}
.empty{
    width: 50px;
    height: 50px;
    border: none;
    margin: 15px;
    float: left;
    background-color: transparent;
    cursor:default;
}
.number:hover{
    background-color: #E9E0D0;
}
.operator:hover{
    background-color: #D0E9E9;
}
.empty:hover{
    background-color: transparent;
}
.number:active, .operator:active{
    font-size: 13px;
}